<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="cz.cvut.fit.android.cerberus">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity
            android:name=".presentation.MainActivity"
            android:screenOrientation="landscape">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".presentation.minigames.poacher.PoacherGameActivity"
            android:screenOrientation="landscape"/>

        <activity
            android:name=".presentation.minigames.porter.PorterGameActivity"
            android:screenOrientation="landscape"/>

        <activity
            android:name=".presentation.minigames.driver.DriverGameActivity"
            android:screenOrientation="landscape"/>

        <activity
            android:name=".presentation.minigames.armedescort.ArmedEscortGameActivity"
            android:screenOrientation="landscape"/>

        <activity
            android:name=".presentation.minigames.translator.TranslatorGameActivity"
            android:screenOrientation="landscape"/>

        <activity
            android:name=".presentation.minigames.paramedic.ParamedicGameActivity"
            android:screenOrientation="landscape"/>

        <activity
            android:name=".presentation.minigames.archaeologist.ArchaeologistGameActivity"
            android:screenOrientation="landscape"/>

        <activity
            android:name=".presentation.minigames.chief.ChiefGameActivity"
            android:screenOrientation="landscape"/>

        <activity
            android:name=".presentation.minigames.quartermaster.QuartermasterGameActivity"
            android:screenOrientation="landscape"/>

        <activity
            android:name=".presentation.minigames.bombexpert.BombExpertGameActivity"
            android:screenOrientation="landscape"/>
    </application>

</manifest>